@font-face{
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono/SpaceMono-Regular.ttf');
}
@font-face{
    font-family: 'Sora';
    src: url('../fonts/Sora/Sora-VariableFont_wght.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}
p{
    font-family: SpaceMono;
}
h3{
    font-family: Sora;
}
.nav{
    position: absolute;
    z-index: 1000;
    width: 96.9%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.3);
}
.img{
    padding: 20px;
}
.nav-items{
    align-content: center;
    padding: 0px 20px;
}
.nav-items li{
    display: flex;
    flex-direction: row;
}
.nav-items li ul{
    font-family: SpaceMono;
    font-size: 16px;
    padding: 5px 10px;
}
.section1{
    background: url(../img/image.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 130px;
}
.section1 .txt{
    padding: 10px;
    display: flex;
    justify-items: center;
    flex-direction: column;
}
.section1 .txt h3{
    font-size: 60px;
    color:white;
    padding-bottom: 20px;
    font-family: Sora;
}
.section1 .txt p{
    font-size: 22px;
    color:white;
    font-family: SpaceMono;
    width:55%;
}
.section2{
    padding: 0px 100px;
    padding-top: 50px;
}
.section2 .txt2{
    margin:10px;
    margin-left: 20px;
}
.section2 .txt2 h3{
    font-size: 40px;
    padding-bottom: 20px;
    font-family: Sora;
    color: #012A22;
}
.section2 .txt2 p{
    font-size: 18px;
    font-family: SpaceMono;
    width:90%;
    color: #3D3D3D;
}
.section2 .txt3{
    display:flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.section2 .txt3 .sub1{
    width:33%;
    margin: 0px 10px;
    padding-top: 100px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
.section2 .txt3 .sub2{
    width:33%;
    margin: 0px 10px;
    padding-top: 100px;
    border-left: 1px solid;
    border-image: linear-gradient(100deg, #FEBF58, #FF7E3F) 1;
}
.section2 .txt3 .sub3{
    width:33%;
    margin: 0px 10px;
    padding-top: 100px;
    border-left: 1px solid;
    border-image: linear-gradient(100deg, #FEBF58, #FF7E3F) 1;
}
.section2 .txt3 h3{
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: #065545;
}
.section2 .txt3 p{
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #3D3D3D;
}
.section2 .txt3 .bt{
    border:2px solid;
    border-radius: 100%;
    padding:15px;
    margin:10px 10px
}
.section2 .txt3 img{
    width:100%;
    margin:0px;
    padding:0px;
}
.section3{
    padding: 0px 100px;
    background-color: #012A22;
    /* z-index: 4; */
}
.section3 .txt4 {
    margin-bottom: 50px;
}
.section3 .txt4 h3{
    color:white;
    font-size: 40px;
    padding-top: 50px;
    margin-left: 10px;
}
.section3 .txt5{
    display: flex;
    margin-left: 20px;
}
.section3 .txt6{
    display: flex;
    padding-bottom: 50px;
    margin-left: 20px;
}
.section3 .txt6 .sb1{
    width:33%;
    margin: 20px;
    /* z-index: 1; */
    position: relative;
    width:28%;
}
.section3 .txt6 .sb2{
    width:33%;
    margin: 20px;
    /* z-index: 1; */
    position: relative;
    width:28%;
}
.section3 .txt6 .sb3{
    width:33%;
    margin: 20px;
    /* z-index: 1; */
    position: relative;
    width:28%;
}
.section3 .txt5 img{
    margin: 20px 0px;
}
.section3 .txt6 h3{
    color:white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section3 .txt6 p{
    color:white;
    font-size: 18px;
    font-weight: 200;
}
.section3 .txt6 .sb2 img{
    margin-bottom: 10px;
} 
.section3 .txt6 .sb3 img{
    margin-bottom: 10px;
}
footer{
    background-color: #012A22;
}
.txt7{
    background-color:white;
    height: 50vh;
    margin: 0px 100px;
    display: flex;
    font-family: SpaceMono;
    padding-left: 60px;
}
.txt7 .f1{
    width:50%;
    margin:70px 0px 0px 70px;
}
.txt7 .f1 img{
    margin-bottom: 50px;
}
.txt7 .f2{
    width:20%;
}
.txt7 .f2{
    width:20%;
}
.txt7 ul{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.txt7 ul{
    list-style-type: none;
}
.txt7 ul li {
    padding: 10px 0px;
}
.video-container {
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 0px 10px;
}

.play-btn, .pause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.pause-btn {
    display: none;
}

video {
    width: 100%;
    height: auto;
    z-index: 1;
}
.video-container:hover .pause-btn {
    display: block;
}


